In [273]:
#Series	s.loc[indexer]
#DataFrame	df.loc[row_indexer,column_indexer]
#Panel	p.loc[item_indexer,major_indexer,minor_indexer]
import pandas as pd
import numpy as np
#Series	series[label]	scalar value
#DataFrame	frame[colname]	Series corresponding to colname
#Panel	panel[itemname]	DataFrame corresponding to the itemname

#Similarly to 'loc', 'at' provides label based scalar lookups,while, 
#'iat' provides integer based lookups analogously to 'iloc'

In [274]:
dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])
panel = pd.Panel({'one' : df, 'two' : df - df.mean()})

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2862: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

In [275]:
df.loc[dates[5]:dates[6],'A':'C']
df.loc[:,:]#everything

                   A         B         C         D
2000-01-01 -0.476444  1.322684 -0.542042  1.256527
2000-01-02  0.066865  0.466929 -0.479350  0.248083
2000-01-03  1.668004 -1.263487 -0.403786  0.738007
2000-01-04 -0.551415  1.661025 -1.187226  0.347611
2000-01-05  0.658964  0.496718  0.302140  0.295684
2000-01-06 -0.025975  0.482123 -0.112395 -2.273341
2000-01-07  0.842663  0.443569  0.353561  1.261413
2000-01-08  0.912167 -0.367108  0.303588  0.468668

In [276]:
sa = pd.Series([1,2,3],index=['a','b','c'])
sa.a
dfa = df.copy()
dfa.A = list(range(len(dfa.index)))

In [277]:
#to indexing row data of DadaFrame 
x = pd.DataFrame({'x': [1, 2, 3], 'y': [3, 4, 5]})
x.iloc[1] = dict(x=9, y=99)

In [278]:
s = df['A']; s[::-1]

2000-01-08    0.912167
2000-01-07    0.842663
2000-01-06   -0.025975
2000-01-05    0.658964
2000-01-04   -0.551415
2000-01-03    1.668004
2000-01-02    0.066865
2000-01-01   -0.476444
Freq: -1D, Name: A, dtype: float64

In [279]:
s1 = pd.Series(np.random.randn(6),index=list('abcdef'))
s1.loc['c':]
s1.iloc[::-1]

f    1.035984
e    0.902488
d   -1.279230
c   -1.120940
b   -0.511331
a   -0.613065
dtype: float64

In [280]:
x = list('abcdef'); x[4:10]

['e', 'f']

In [281]:
df1 = pd.DataFrame(np.random.randn(6, 4),index=list('abcdef'),columns=list('ABCD'))
df1.loc[lambda df: df.A > 0, :]

          A         B         C         D
a  1.359500  0.156470  0.225306  0.554920
c  0.698359 -1.004639 -0.244821  0.393349
d  0.278751 -1.268749  0.372614  0.008401
e  1.002394 -1.826152 -1.925635  1.466670

In [282]:
df1.loc[:, lambda df: ['A', 'B']] ##somehow get A and B
df1.iloc[:, lambda df: [0,1]]## 0 and 1 means for iloc A and B

          A         B
a  1.359500  0.156470
b -0.490583 -0.254339
c  0.698359 -1.004639
d  0.278751 -1.268749
e  1.002394 -1.826152
f -2.322977 -1.050284

In [283]:
##all of belows are the same
df1.A
df1['A']
df1.loc[:,'A']
df1.iloc[:, 0]
df1[lambda df:df.columns[0]]

a    1.359500
b   -0.490583
c    0.698359
d    0.278751
e    1.002394
f   -2.322977
Name: A, dtype: float64

In [284]:
dfd = pd.DataFrame({'A': [1, 2, 3],'B': [4, 5, 6]},index=list('abc'))

In [285]:
#these are the same
dfd.loc[dfd.index[[0, 2]], 'A']
dfd.iloc[[0,2]]['A']
dfd.ix[[0,2],'A']
dfd.iloc[[0, 2], dfd.columns.get_loc('A')]
dfd.iloc[[0, 2], dfd.columns.get_indexer(['A'])]

//anaconda/lib/python3.5/site-packages/ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.

   A
a  1
c  3

In [286]:
s = pd.Series([1, 2, 3])
#you wanna get only valid info, however... you grabs also 3rd items as Nan
s[[1,2,3]]

//anaconda/lib/python3.5/site-packages/pandas/core/series.py:842: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

1    2.0
2    3.0
3    NaN
dtype: float64

In [287]:
s.reindex([1,2,3]) #this one another way to grab nan value, finally you can do below

1    2.0
2    3.0
3    NaN
dtype: float64

In [288]:
labels = [1,2,3]
s.loc[s.index.intersection(labels)]

1    2
2    3
dtype: int64

In [289]:
s.loc[s.index.intersection(labels)]

1    2
2    3
dtype: int64

In [290]:
#or
s[s.index.isin(labels)]

1    2
2    3
dtype: int64

In [291]:
## you cna't reindex with having duplicate index, in below case, a
labels = ['c','d']
s = pd.Series(np.arange(4), index=['a', 'a', 'b', 'c'])
s.reindex()
# instead you can do below

a    0
a    1
b    2
c    3
dtype: int64

In [292]:
s.loc[s.index.intersection(labels)].reindex(labels)

c    3.0
d    NaN
dtype: float64

In [293]:
s = pd.Series([0,1,2,3,4,5])
s.sample()
s.sample(n=2)
s.sample(frac=0.5)#half
s.sample(n=6, replace=True) #same number comes, means you can set bigger number than its set

5    5
5    5
5    5
0    0
1    1
4    4
dtype: int64

In [294]:
example_weights = [0, 0, 0.2, 0.2, 0.2, 0.4]
s.sample(n=3, weights=example_weights)

4    4
5    5
2    2
dtype: int64

In [295]:
df2 = pd.DataFrame({'col1':[9,8,7,6], 'weight_column':[0.5, 0.4, 0.1, 0]})
df2.sample(n = 3, weights = 'weight_column')

   col1  weight_column
0     9            0.5
1     8            0.4
2     7            0.1

In [296]:
#you can get random values from multiple rows and columns
df3 = pd.DataFrame({'col1':[1,2,3], 'col2':[2,3,4]})
df3.sample(n=1, axis=1)

   col2
0     2
1     3
2     4

In [297]:
#you can also set seed
df4.sample(n=2, random_state=2)

NameError: name 'df4' is not defined

In [298]:
s.iat[5]

5

In [299]:
#all of belows are the same results
df.at[dates[5],'A']
df.loc[dates[5],'A']
df.iat[5,0]
df.iloc[5,0]

-0.025975351414557667

In [ ]:
s = pd.Series(range(-3, 4))
s[(s>1) | (s<0)]
s[(s>1) | ~~(s<0)]

In [ ]:
df2 = pd.DataFrame({'a' : ['one', 'one', 'two', 'three', 'two', 'one', 'six'],
                    'b' : ['x', 'y', 'y', 'x', 'y', 'x', 'x'],
                    'c' : np.random.randn(7)})
df2[[x.startswith('t') for x in df2['a']]]
#to be faster...
criterion = df2['a'].map(lambda x:x.startswith('t'))
df2[criterion]

In [ ]:
# Multiple criteria
df2[criterion & (df2['b'] == 'x')]

In [ ]:
df2.loc[criterion & (df2['b'] == 'x'),'b':'c']

In [ ]:
#isin is for series with no labels
s = pd.Series(np.arange(5), index=np.arange(5)[::-1], dtype='int64')
s.isin([2, 4, 6])
s[s.isin([2, 4, 6])]

In [ ]:
s[s.index.isin([2, 4, 6])]

In [ ]:
##multi-index isin()
s_mi = pd.Series(np.arange(6),index=pd.MultiIndex.from_product([[0, 1], ['a', 'b', 'c']]))
s_mi.iloc[s_mi.index.isin([(1, 'a'), (2, 'b'), (0, 'c')])]
s_mi.iloc[s_mi.index.isin(['a'], level=1)]

In [ ]:
df = pd.DataFrame({'vals': [1, 2, 3, 4], 'ids': ['a', 'b', 'f', 'n'],'ids2': ['a', 'n', 'c', 'n']})
values = ['a', 'b', 1, 3]
mask = df.isin(values).pipe(lambda x:x.all(1))
df[mask]

In [ ]:
values = {'ids': ['a', 'b'], 'vals': [1, 3]}
df.isin(values)

In [ ]:
df[df =='a']
df.where(df=='a', 'oh my god!')

In [ ]:
s = pd.Series(list('abcdefg'))
#s.apply(lambda x: 'oh my god!' if x=='c' else None)
s.apply(lambda x: 'oh my god!' if x=='c' else x)

In [ ]:
s.mask(s=='c').fillna('oh my god!')

In [ ]:
##query
n=10
df = pd.DataFrame(np.random.rand(n, 3), columns=list('abc'))
df[(df.a < df.b) & (df.b < df.c)]
df.query('(a<b) & (b<c)')

In [ ]:
##also conpary with index and values
df = pd.DataFrame(np.random.randint(n / 2, size=(n, 2)), columns=list('bc'))
df.index.name = 'a'

In [ ]:
df.query('index < b < c')
df.query('a < b and b < c')
df.query('a < b < c')

In [ ]:
colors = np.random.choice(['red', 'green'], size=n)
foods = np.random.choice(['eggs', 'ham'], size=n)
index = pd.MultiIndex.from_arrays([colors, foods], names=['color', 'food'])
df = pd.DataFrame(np.random.randn(n, 2), index=index, columns=['zero','first'])

In [ ]:
df.query('color =="red" and food == "eggs" and zero < 0')

In [ ]:
df.loc['red','eggs']

In [ ]:
#if df doesn't have name on Index #if Index name is defined this method returns an error
df.index.names = [None, None]
df.query('ilevel_0 == "red"')

In [ ]:
df = pd.DataFrame(np.random.rand(n, 3), columns=list('abc'))
df2 = pd.DataFrame(np.random.rand(n + 2, 3), columns=df.columns)
expr = '0.0 <= a <= c <= 0.5'
map(lambda frame: frame.query(expr), [df, df2]) ##list of df

In [ ]:
for v in map(lambda frame: frame.query(expr), [df, df2]):
    print(v)

In [ ]:
df = pd.DataFrame({'a': list('aabbccddeeff'), 
                   'b': list('aaaabbbbcccc'),
                   'c': np.random.randint(5, size=12),
                   'd': np.random.randint(9, size=12)})
df.query('a in b') ## a, b, and c of 'a'are in data of 'b'

In [ ]:
#or
df[df.a.isin(df.b)]

In [ ]:
df.query('a not in b')

In [ ]:
df[df.b.isin(["a", "b", "c"])]
##or
df.query('b == ["a", "b", "c"]')

In [ ]:
##also use ~, not in query
df = pd.DataFrame(np.random.rand(n, 3), columns=list('abc'))
df['bools'] = np.random.rand(len(df)) > 0.5
df.query('~bools')
df.query('not bools')
df.query('not bools') == df[~df.bools]

In [ ]:
shorter = df.query('a < b < c and (not bools) or bools > 2')
longer = df[(df.a < df.b) & (df.b < df.c) & (~df.bools) | (df.bools > 2)]
shorter == longer

In [ ]:
df2 = pd.DataFrame({'a': ['one', 'one', 'two', 'two', 'two', 'three', 'four'],
                    'b': ['x', 'y', 'x', 'y', 'x', 'x', 'x'],
                    'c': np.random.randn(7)});df2

In [ ]:
#
df2.drop_duplicates('a', keep='last') 
df2.drop_duplicates('a') ##only first

In [ ]:
##drop duplicated
df2.duplicated('a', keep='last')

In [ ]:
## keep duplicated and first one, remove unique data 
## means leave what you don't wanna to have
df2[df2.duplicated('a')]

In [ ]:
df2[~df2.duplicated('a')] ##leave unique

In [ ]:
##do you wanna do opposie? leave only unique
df2.drop_duplicates('a', keep=False)

In [ ]:
df2.duplicated('a', keep=False)

In [ ]:
index = pd.MultiIndex.from_product([range(3), ['one', 'two']], names=['first', 'second'])
index.levels
index.set_levels(["a", "b"], level=1)

In [ ]:
a = pd.Index(['c', 'b', 'a'])
b = pd.Index(['c', 'e', 'd'])
a | b
a & b
a.difference(b)

In [ ]:
idx1 = pd.Index([1, 2, 3, 4])
idx2 = pd.Index([2, 3, 4, 5])
idx1.symmetric_difference(idx2)
idx1 ^ idx2
##same as 
idx1.difference(idx2).union(idx2.difference(idx1))

In [300]:
df = pd.DataFrame(
    dict(
        a=['bar','foo']*2,
        b=['one','two']*2,
        c=['z','y','x','w'],
        d=pd.Series(range(1,5),dtype='float32')))

In [301]:
idf = df.set_index('a');idf

       b  c    d
a
bar  one  z  1.0
foo  two  y  2.0
bar  one  x  3.0
foo  two  w  4.0

In [302]:
idf.reset_index()

     a    b  c    d
0  bar  one  z  1.0
1  foo  two  y  2.0
2  bar  one  x  3.0
3  foo  two  w  4.0

In [303]:
idf = df.set_index('a', drop=False);idf

       a    b  c    d
a
bar  bar  one  z  1.0
foo  foo  two  y  2.0
bar  bar  one  x  3.0
foo  foo  two  w  4.0

In [304]:
idf = idf.set_index('c'); idf

     a    b    d
c
z  bar  one  1.0
y  foo  two  2.0
x  bar  one  3.0
w  foo  two  4.0

In [305]:
idf = idf.reset_index(); idf
#idf.reset_index(level=1)

   c    a    b    d
0  z  bar  one  1.0
1  y  foo  two  2.0
2  x  bar  one  3.0
3  w  foo  two  4.0

In [306]:
idf = idf[['a','b','c','d']]; idf

     a    b  c    d
0  bar  one  z  1.0
1  foo  two  y  2.0
2  bar  one  x  3.0
3  foo  two  w  4.0

In [307]:
All = slice(None)
idf.loc[All,]

     a    b  c    d
0  bar  one  z  1.0
1  foo  two  y  2.0
2  bar  one  x  3.0
3  foo  two  w  4.0

In [309]:
dfmi = pd.DataFrame([list('abcd'),
                     list('efgh'),
                     list('ijkl'),
                     list('mnop')],
                    columns=pd.MultiIndex.from_product([['one','two'],
                                                        ['first','second']]))
dfmi.loc[All, ('one','first')] ##you can use Tuple for multiindex

0    a
1    e
2    i
3    m
Name: (one, first), dtype: object